@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: white;
  font-size: 1.8rem;
  padding: 0 1.5rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;
  color: #333;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 20px 0;
  justify-items: center;
}

.property-card {
  max-width: 450px;
  display: grid;
  background-color: #fff;
  border-top: 5px solid #4452a8;
  color: #727982;

  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
}

.section-container {
  padding: 1.2rem 2rem 1.2rem 2rem;
}

.border-container {
  border-top: 2px solid #f2f4f7;
}

.property-img {
  height: 250px;
  overflow: hidden;
  position: relative;
}
.property-img .carousel {
  color: #fff;
  list-style: none;
  position: absolute;
  display: flex;
  font-size: 3rem;
  bottom: 15px;
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
  justify-content: space-between;
  line-height: 1px;
}
.property-img .carousel .active {
  line-height: 0;
  font-size: 4.5rem;
}
.property-img .heart {
  position: absolute;
  top: 15px;
  right: 15px;
}
.property-img img {
  margin-top: -5rem;
  width: 100%;
}

.company {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.date {
  color: #232c3d;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.info {
  display: flex;
}
.room_count {
  color: #232c3d;
  font-weight: 700;
}

.info-item {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1.5rem;
  margin-top: -0.3rem;
}

.info-item:first-child {
  margin-right: 3rem;
}

.info-item img {
  width: 45px;
}

.contact {
  display: flex;
  background-color: #f2f4f7;
  align-items: center;
}
.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact_info {
  width: 50%;
  flex-grow: 1;
  padding-left: 1rem;
}

.contact_name {
  color: #232c3d;
  margin-bottom: 0.3rem;
  font-size: 1.75rem;
}

.status {
  font-size: 1.6rem;
  padding: 3px 13px;
  border-radius: 20px;
  display: inline-block;
}

.green {
  background-color: #b3f5d7;
  color: #264d3b;
}

.yellow {
  background-color: #fff4b8;
  color: #5a572e;
}

.red {
  background-color: #fcc6c6;
  color: #4b2929;
}

.requirements {
  list-style-image: url("https://img.icons8.com/color/20/000000/checkmark.png");
  line-height: 24px;
}

.requirement-item {
  margin-left: 25px;
  font-size: 15px;
  margin-top: 5px;
}

.created-at {
  font-size: 1.4rem;
  text-align: right;
  align-self: center;
}

.contact {
  padding-bottom: 10px;
}

.no-wrap-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company {
  white-space: normal;
}

@media (max-width: 500px) {
  .property-card {
    max-width: none;
  }
  .wrapper {
    margin: 0 auto;
  }
  body {
    padding: 0 5px;
  }
}
